@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Oxanium:wght@200..800&display=swap');

:root {
    --background-color: hsl(185, 75%, 39%);
    --text-color: hsl(227, 10%, 46%);
}

body {
    background-color: var(--background-color);
    height: 100vh;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 10px;
}

.cartao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    background-color: #fff;
    border-radius: 10px;
    width:450px;
}

.cartao img {
    width: 150px;
    height: 100%;
    border-radius: 50%;
    padding-top: 30px;
}

.cartao .perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.cartao .perfil h1 {
    font-size: 25px;
}

.cartao .numeros {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 30px;
}


.idade, .cidadepais, .contadortipo {
    color: var(--text-color)
}

.cidadepais, .contador {
    font-weight: 700;
}

